.header__menu {
  grid-column: 6 / -1;
  @include media(display, (none, none));

  &-line {
    background: $based-text-color;
    height: 3px;
    width: 2.7rem;
    grid-column: 5 / -1;
    display: block;
    position: relative;
    transition: all ease 0.1s;

    &::after {
      @include burger-lines-menu;
      top: 0.6rem;
    }

    &::before {
      @include burger-lines-menu;
      top: -0.6rem;
    }
  }

&-burger {
  position: absolute;
  display: inline;
  margin-left: 80%;
  background-color: transparent;
  @include media(display,(none,none));
  opacity: 0;
  grid-column: 6 / -1;
  justify-self: end;

  &:focus ~ .header__menu{
    background-color:rgba(0, 0, 0, 0);
    outline: 10px solid grey;

  }
  &:checked ~ .header__menu{
    outline: 7px solid transparent;
  }
  &:checked ~ .header__menu > .header__menu-line {
    transform: rotate(45deg);
  }

  &:checked ~ .header__menu > .header__menu-line::before {
    top: 0;
    transform: rotate(0);
  }

  &:checked ~ .header__menu > .header__menu-line::after {
    top: 0;
    transform: rotate(90deg);
  }

  &:checked ~ .header-nav {
    display: flex;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 5;
    width: 10.7rem;
    height: 35%;
    margin: 0;
    text-align: center;
    background-color: #ED4690;
    padding: 0.9rem 1.7rem;
    line-height: 3rem;
    border-radius: 0 0 1.4rem;
    box-shadow: 0 0 0.4rem red;
  }
}
}
