.first-fold{
&__banner{
  display: none;
  @include media(display,(inline, inline));
  min-width: 320px;
  float: left;
  width: 50%;
  grid-row: 1 / 4;
}
&__buttons-container{
  display: grid;
  @include media(display, (flex, flex));
  justify-content: space-around;
  padding-top: 2rem;
  gap:1rem;
  @include media(justify-content,(left, left));
  @include media(gap, (1rem, 1rem ));
}}


