.header {
  display: grid;
  align-items: center;
  height: 4rem;
  padding: 1rem;
  z-index: 3;
  justify-content: center;
  grid-template-columns: repeat(6, 1fr);
  grid-area: header;
  grid-column: 1 / -1;

  &__logo {
    grid-column: 1 / 2;
    padding-left: 1rem;
    min-width: 10px;

    &--padding {
      padding-left: 0;
    }
  }
}

.header-nav {
  display: none;
  @include media(display, (inline, inline));
  grid-column: 4 / -1;
  &__menu {
    display: flex;
    flex-direction: column;
    @include media(display,(grid, grid));
    @include media(grid-template-columns,(repeat(5,auto), repeat(5,auto)));
  }
  &__section {
    color: $based-text-color;
    $section: &;
    text-transform: capitalize;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 0.5rem 0.8rem;
    border-radius: 1.4rem;
    transition: 1s;
    &:hover {
      border: 1px solid white;
      transition: 0.5s;
      cursor: pointer;
      text-decoration: none;
    }
  }
}





