@mixin burger-lines-menu{
  background: white;
  height: 3px;
  width: 32px;
  display: block;
  position: absolute;
  content: '';
  left: 0;
  transition:all ease 0.2s;
}
@mixin cards-block-area{
  display: grid;
  background-color: $based-text-color;
  grid-gap: 2rem;
  text-align: center;
}
@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,10%);
    transition: all 0.3s ease;
    cursor: pointer;
  }
  &:active {
    background:darken($bg,25%);
  }
}

@mixin border-input($color){
  &:focus {
    border-bottom: 2px solid $color;
  }
  &:active {
    border-bottom: 2px dashed $color;
  }
}